*{

    font-size: 12pt;

    font-family: "Verdana", "Geneva", sans-serif;

}



body {

    background-color:rgb(128, 128, 128);

    padding-left: 1em;

}



fieldset {

    background-color:rgb(102, 39, 39);

    border: 2px outset gray;

    border-radius: 10px;

}



legend {

    background-color: rgb(117, 111, 111);

    border: 2px outset rgb(128, 128, 128);

    padding: 0.2em;

}



h1 {

    font-weight: italic;



}



input[type="submit"] {

    background-color:rgb(26, 26, 168);

    font-size: 120%;

    font-weight: bold;

}